.nosotros {
  display: flex;
  align-items: center;
  margin-top: 200px;
  margin-bottom: 200px;
  width: 100%;
}
.nosotros h2 {
  margin-left: 20%;
  font-family: anybody;
  color: rgba(36, 36, 36, 0.4);
  font-size: 5em;
  font-weight: 500;
  padding: 0 100px;
}
.nosotros h2 span {
  position: relative;
  color: rgba(36, 36, 36, 0.18);
  animation: displayText 9s infinite;
  animation-delay: calc(-3s * var(--i));
}
.nosotros h2 span::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: var(--color-botones-menu);
  overflow: hidden;
  border-right: 4px solid black;
  animation: animate 3s linear infinite;
}

.info-nosotros {
  display: flex;
}
.info-nosotros .quienes-somos {
  width: 40%;
  margin: 0 90px;
  font-family: anybody;
}
.info-nosotros .quienes-somos h2 {
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 50px;
}
.info-nosotros .quienes-somos p {
  font-weight: 400;
  font-size: 1.1em;
  line-height: 1.4;
}
.info-nosotros .body {
  font-family: anybody;
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 0 90px;
}
.info-nosotros .body .nuestro-equipo h2 {
  font-family: anybody;
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 15px;
}
.info-nosotros .body .container-nosotros {
  gap: 15px;
  margin-right: 0;
  display: flex;
  max-width: 600px;
  width: 100%;
  background: var(--color-botones-menu);
  border-radius: 15px;
  padding: 30px;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  scroll-padding: 30px;
  scroll-behavior: smooth;
  box-shadow: 0 15 15 25 rgba(0, 0, 0, 0.1);
}
.info-nosotros .body .container-nosotros .card-nosotros {
  text-align: center;
  margin-top: 4px;
  display: flex;
  flex: 0 0 100%;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  background-color: #fffbf5;
  scroll-snap-align: start;
  border-radius: 15px;
  box-shadow: 0 15 15 25 rgba(0, 0, 0, 0.1);
}
.info-nosotros .body .container-nosotros .card-nosotros h2 {
  margin-top: 25px;
  font-weight: 500;
}
.info-nosotros .body .container-nosotros .card-nosotros p {
  margin-top: 10px;
  font-weight: 400;
}
.info-nosotros .body .container-nosotros .card-nosotros .image-nosotros {
  height: 150px;
  width: 150px;
  padding: 4px;
  background-color: var(--color-botones-menu);
  border-radius: 50%;
}
.info-nosotros .body .container-nosotros .card-nosotros .image-nosotros img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid #fffbf5;
}

::-webkit-scrollbar {
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #fffbf5;
  border-radius: 25px;
}

::-webkit-scrollbar-thumb {
  background: rgb(101, 100, 100);
  opacity: 90%;
  border-radius: 25px;
}
::-webkit-scrollbar-thumb:hover {
  background: goldenrod;
}

@keyframes displayText {
  0% {
    display: inline-block;
  }
  33% {
    display: none;
  }
  100% {
    display: none;
  }
}
@keyframes animate {
  0%, 10%, 100% {
    width: 0;
  }
  70%, 90% {
    width: 100%;
  }
}
@media (max-width: 952px) {
  .nosotros {
    margin-top: 80px;
  }
  .nosotros h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5em;
    padding-left: 7%;
    padding-right: 0;
  }
  .info-nosotros {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .info-nosotros .body {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-right: 0;
    margin-left: 0;
    width: 100%;
  }
  .info-nosotros .body .nuestro-equipo {
    padding: 15px;
  }
  .info-nosotros .quienes-somos {
    padding: 15px;
    width: 100%;
  }
}

/*# sourceMappingURL=nosotros.css.map */
