* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

@font-face {
  font-family: "Anybody", sans-serif;
  font-family: "Montserrat", sans-serif;
}
:root {
  --color-principal: #fffbf5;
  --letras-botones-color: #ffecd4;
  --color-botones-menu: #3a3536;
  --color-hover-botones: goldenrod;
}

header nav {
  background-color: var(--color-principal);
  height: 85px;
  width: 100%;
}
header nav ul {
  float: right;
  padding-top: 10px;
  padding-right: 50px;
}
header nav ul li {
  display: inline-block;
  padding: 28px 0;
  margin: 0 20px;
}
header nav ul li a, header nav ul li.active {
  text-decoration: none;
  padding-bottom: 0;
  color: var(--color-botones-menu);
  font-family: anybody;
  font-size: 15px;
  font-weight: 500;
  --clippy: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);
}
header nav ul li a::after, header nav ul li.active::after {
  content: "";
  display: block;
  background-color: var(--color-botones-menu);
  width: 100%;
  margin-top: 2px;
  height: 2px;
  clip-path: var(--clippy);
  transition: clip-path 0.15s ease;
}
header nav ul li a:hover, header nav ul li.active:hover {
  --clippy: polygon(100% 0, 0 0, 0 100%, 100% 100%);
}

.logo {
  height: 75px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.enlace {
  position: absolute;
  padding-left: 50px;
  padding-top: 10px;
}

.checkbtn {
  font-size: 35px;
  color: var(--color-botones-menu);
  float: right;
  line-height: 82px;
  margin-right: 50px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 952px) {
  .enlace {
    padding-left: 25px;
  }
  header nav ul li a.active, nav ul li a {
    font-size: 15px;
  }
}
@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }
  #check:checked ~ ul {
    left: 0;
    z-index: 1;
  }
  header nav ul {
    position: fixed;
    background-color: var(--letras-botones-color);
    width: 100%;
    height: 100vh;
    z-index: 1;
    top: 85px;
    left: -120%;
    text-align: center;
    transition: all 0.5s ease;
  }
  header nav ul li {
    display: block;
    margin: 30px 0;
    line-height: 30px;
  }
  header nav ul li a, header nav ul li.active {
    font-size: 24px;
  }
  header nav ul li a:hover, header nav ul li.active:hover {
    background-color: none;
    color: darkgoldenrod;
  }
  header nav ul li a::after, header nav ul li.active::after {
    display: none;
  }
}
footer {
  position: relative;
  width: 100%;
  background-color: var(--color-botones-menu);
  min-height: 10px;
  margin-top: 50px;
  padding: 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer p {
  font-family: anybody;
  font-weight: 300;
  font-size: 0.8em;
  color: #fffbf5;
  opacity: 0.7;
  margin-top: 15px;
  margin-bottom: 10px;
}
footer .iconos-sociales {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}
footer .iconos-sociales li {
  list-style-type: none;
}
footer .iconos-sociales li a {
  font-size: 1.5em;
  color: #fffbf5;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s ease;
  opacity: 60%;
}
footer .iconos-sociales li a:hover {
  transform: translateY(-10px);
  opacity: 100%;
}
footer .menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}
footer .menu li {
  list-style-type: none;
}
footer .menu li a {
  font-family: anybody;
  font-weight: 400;
  font-size: 1em;
  color: #fffbf5;
  margin: 0 10px;
  display: inline-block;
  opacity: 55%;
  transition: 0.5s ease;
}
footer .menu li a:hover {
  opacity: 100%;
  transition: 0.3s ease;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-principal);
}

h1 {
  text-align: center;
  font-size: 60px;
  color: red;
  font-family: anybody;
  font-weight: 500;
  margin-top: 180px;
}

.subtitulo h2 {
  text-align: center;
  font-size: 20px;
  font-family: anybody;
  font-weight: 300;
  margin-top: 25px;
  margin-bottom: 75px;
}

.nordico {
  background-image: url(../img/Nordico\ 1\ final.png);
  background-color: var(--color-principal);
  height: 500px;
  margin-top: 105px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.boton-principal {
  background-color: var(--color-botones-menu);
  height: 65px;
  width: 295px;
  margin: auto;
  position: relative;
  outline: none;
  cursor: pointer;
}
.boton-principal p {
  color: var(--letras-botones-color);
  font-family: anybody;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  padding-top: 23.5px;
}
.boton-principal p:hover {
  color: var(--color-botones-menu);
  transition: 0.3s ease;
}
.boton-principal:hover {
  background-color: var(--color-hover-botones);
  transition: 0.3s ease;
}

.cotizacion {
  text-decoration: none;
}

.galeria-inicio {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(3, 380px);
  grid-template-rows: 380px;
  justify-content: center;
  gap: 50px;
  margin-bottom: 30px;
}
.galeria-inicio img {
  max-width: 380px;
}

.botones-galeria {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  gap: 40px;
}
.botones-galeria li {
  height: 30px;
  width: 150px;
  text-align: center;
  outline: none;
  cursor: pointer;
  padding-top: 1%;
  background-color: var(--color-botones-menu);
  margin-bottom: 180px;
  list-style-type: none;
}
.botones-galeria li:hover {
  background-color: var(--color-hover-botones);
  transition: 0.3s ease;
}
.botones-galeria a {
  text-decoration: none;
  font-family: anybody;
  font-weight: 600;
  color: var(--letras-botones-color);
}
.botones-galeria a:hover {
  color: var(--color-botones-menu);
  transition: 0.3s ease;
}

.container {
  margin-top: 180px;
  height: 900px;
}

.row {
  height: 200px;
}

.row1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
}

a {
  text-decoration: none;
}

.tienda-galeria {
  display: flex;
  margin: auto;
}
.tienda-galeria h1 {
  text-align: center;
  font-family: anybody;
  font-size: 30px;
  font-weight: 500;
}

.contenido {
  width: 20%;
  margin: 15px;
  box-sizing: border-box;
  float: left;
  text-align: center;
  cursor: pointer;
  padding-top: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: 0.4s ease;
  background-color: #fffbf5;
  border-radius: 0%;
}
.contenido:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: translate(0px, -8px);
}

.galeria {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  margin: 50px 0;
}
.galeria h3 {
  text-align: center;
  font-family: anybody;
  color: var(--color-botones-menu);
  font-size: 30px;
  font-weight: 500;
  margin: 0;
  padding-top: 15px;
}
.galeria h6 {
  font-family: anybody;
  font-weight: 500;
  font-size: 26px;
  text-align: center;
  color: var(--color-botones-menu);
  margin: 0;
}
.galeria p {
  font-family: anybody;
  font-weight: 400;
  text-align: center;
  color: var(--color-botones-menu);
  padding-top: 10px;
  padding-bottom: 20px;
}
.galeria img {
  height: 200px;
  width: 200px;
  text-align: center;
  margin: 0 auto;
  display: block;
}
.galeria ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0;
}
.galeria li {
  padding-top: 5px;
}
.galeria button {
  text-align: center;
  font-size: 20px;
  color: var(--letras-botones-color);
  background-color: var(--color-botones-menu);
  width: 100%;
  padding: 15px;
  border: 0;
  outline: none;
  cursor: pointer;
  margin-top: 25px;
}
.galeria button:hover {
  background-color: goldenrod;
  transition: 0.2s ease;
  color: var(--color-botones-menu);
  font-weight: 600;
}

@media (max-width: 1000px) {
  .contenido {
    width: 45%;
  }
}
@media (max-width: 750px) {
  .contenido {
    width: 100%;
  }
}
.container {
  margin: 1rem auto;
  z-index: 3;
}

.gallery {
  display: grid;
  max-width: 100%;
  margin-bottom: 0 auto;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(150px, auto);
}

.container {
  margin: 1rem auto;
  z-index: 3;
}

.gallery-item {
  max-width: 100%;
  border-radius: 5px;
  display: block;
  position: relative;
  cursor: pointer;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  transition: all 0.3s;
}
.gallery-item:hover {
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.8);
  transform: scale(1.1);
}
.gallery-item img {
  width: 100%;
  object-fit: cover;
}
.gallery-item .flex-center {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}
.gallery-item .flex-center:hover {
  opacity: 1;
  transition: opacity 0.6s ease;
}

.white-text {
  color: var(--letras-botones-color);
  font-family: anybody;
  font-size: 25px;
  text-align: center;
}

.footer-galeria {
  position: relative;
  width: 100%;
  background-color: var(--color-botones-menu);
  min-height: 10px;
  margin-top: 400px;
  padding: 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer-galeria p {
  font-family: anybody;
  font-weight: 300;
  font-size: 0.8em;
  color: #fffbf5;
  opacity: 0.7;
  margin-top: 15px;
  margin-bottom: 10px;
}
.footer-galeria .iconos-sociales-galeria {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}
.footer-galeria .iconos-sociales-galeria li {
  list-style-type: none;
}
.footer-galeria .iconos-sociales-galeria li a {
  font-size: 1.5em;
  color: #fffbf5;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s ease;
  opacity: 60%;
}
.footer-galeria .iconos-sociales-galeria li a:hover {
  transform: translateY(-10px);
  opacity: 100%;
}
.footer-galeria .menu-footer-galeria {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}
.footer-galeria .menu-footer-galeria li {
  list-style-type: none;
}
.footer-galeria .menu-footer-galeria li a {
  font-family: anybody;
  font-weight: 400;
  font-size: 1em;
  color: #fffbf5;
  margin: 0 10px;
  display: inline-block;
  opacity: 55%;
  transition: 0.5s ease;
}
.footer-galeria .menu-footer-galeria li a:hover {
  opacity: 100%;
  transition: 0.3s ease;
}

@media (max-width: 1400px) {
  .footer-galeria {
    margin-top: 900px;
  }
}
@media (max-width: 1199px) {
  .footer-galeria {
    margin-top: 180%;
  }
}
@media (max-width: 990px) {
  .footer-galeria {
    margin-top: 120%;
  }
}
@media (max-width: 770px) {
  .footer-galeria {
    margin-top: 900%;
  }
  .footer-galeria .iconos-sociales-galeria li a {
    font-size: 1.2em;
    margin: 0 10px;
  }
  .footer-galeria .iconos-sociales-galeria li a:hover {
    transform: translateY(-6px);
  }
}
.nosotros {
  display: flex;
  align-items: center;
  margin-top: 200px;
  margin-bottom: 200px;
  width: 100%;
}
.nosotros h2 {
  margin-left: 20%;
  font-family: anybody;
  color: rgba(36, 36, 36, 0.4);
  font-size: 5em;
  font-weight: 500;
  padding: 0 100px;
}
.nosotros h2 span {
  position: relative;
  color: rgba(36, 36, 36, 0.18);
  animation: displayText 9s infinite;
  animation-delay: calc(-3s * var(--i));
}
.nosotros h2 span::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: var(--color-botones-menu);
  overflow: hidden;
  border-right: 4px solid black;
  animation: animate 3s linear infinite;
}

.info-nosotros {
  display: flex;
}
.info-nosotros .quienes-somos {
  width: 40%;
  margin: 0 90px;
  font-family: anybody;
}
.info-nosotros .quienes-somos h2 {
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 50px;
}
.info-nosotros .quienes-somos p {
  font-weight: 400;
  font-size: 1.1em;
  line-height: 1.4;
}
.info-nosotros .body {
  font-family: anybody;
  display: flex;
  width: 40%;
  margin: 0 90px;
}
.info-nosotros .body .container-nosotros {
  gap: 15px;
  margin-right: 0;
  display: flex;
  max-width: 600px;
  width: 100%;
  background: var(--color-botones-menu);
  border-radius: 15px;
  padding: 30px;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  scroll-padding: 30px;
  scroll-behavior: smooth;
  box-shadow: 0 15 15 25 rgba(0, 0, 0, 0.1);
}
.info-nosotros .body .container-nosotros .card-nosotros {
  text-align: center;
  margin-top: 4px;
  display: flex;
  flex: 0 0 100%;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  background-color: #fffbf5;
  scroll-snap-align: start;
  border-radius: 15px;
  box-shadow: 0 15 15 25 rgba(0, 0, 0, 0.1);
}
.info-nosotros .body .container-nosotros .card-nosotros h2 {
  margin-top: 25px;
  font-weight: 500;
}
.info-nosotros .body .container-nosotros .card-nosotros p {
  margin-top: 10px;
  font-weight: 400;
}
.info-nosotros .body .container-nosotros .card-nosotros .image-nosotros {
  height: 150px;
  width: 150px;
  padding: 4px;
  background-color: var(--color-botones-menu);
  border-radius: 50%;
}
.info-nosotros .body .container-nosotros .card-nosotros .image-nosotros img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid #fffbf5;
}

::-webkit-scrollbar {
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #fffbf5;
  border-radius: 25px;
}

::-webkit-scrollbar-thumb {
  background: rgb(101, 100, 100);
  opacity: 90%;
  border-radius: 25px;
}
::-webkit-scrollbar-thumb:hover {
  background: goldenrod;
}

@keyframes displayText {
  0% {
    display: inline-block;
  }
  33% {
    display: none;
  }
  100% {
    display: none;
  }
}
@keyframes animate {
  0%, 10%, 100% {
    width: 0;
  }
  70%, 90% {
    width: 100%;
  }
}
@media (max-width: 952px) {
  .nosotros {
    margin-top: 80px;
  }
  .nosotros h2 {
    align-items: center;
    font-size: 1.5em;
    margin-left: 5%;
    padding-left: 8%;
    padding-right: 0;
  }
  .info-nosotros {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .info-nosotros .body {
    margin-top: 30px;
    margin-right: 0;
    margin-left: 0;
    width: 100%;
  }
  .info-nosotros .quienes-somos {
    padding: 15px;
    width: 100%;
  }
}
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-principal);
}

.contact-us {
  position: relative;
  width: 100%;
  padding: 40px 100px;
}
.contact-us .title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-us .title h1 {
  text-align: center;
  font-size: 60px;
  font-family: anybody;
  font-weight: 500;
  color: var(--color-botones-menu);
}

.form {
  grid-area: form;
}

.info {
  grid-area: info;
}

.map {
  grid-area: map;
}

.contact {
  padding: 40px;
  background-color: #fffbf5;
  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.45);
}
.contact h3 {
  color: var(--color-botones-menu);
  font-size: 20px;
  font-family: anybody;
  font-weight: 400;
  margin-bottom: 30px;
}

.box {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 5fr 4fr;
  grid-template-areas: "form info" "form map";
  grid-gap: 20px;
  margin-top: 45px;
}

.formBox {
  position: relative;
  width: 100%;
}
.formBox .row50 {
  display: flex;
  gap: 60px;
}
.formBox .row100 .inputBox {
  width: 100%;
}

.inputBox {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  width: 50%;
}
.inputBox span {
  color: var(--color-botones-menu);
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 500;
  font-family: anybody;
}
.inputBox input {
  padding: 10px;
  font-size: 1em;
  outline: none;
  border: 1px solid var(--color-botones-menu);
  font-family: anybody;
  font-weight: 400;
}
.inputBox textarea {
  padding: 10px;
  font-size: 1em;
  outline: none;
  border: 1px solid var(--color-botones-menu);
  resize: none;
  font-family: anybody;
  font-weight: 400;
  min-height: 220px;
  margin-bottom: 10px;
}
.inputBox textarea::placeholder {
  color: gray;
  font-family: anybody;
  font-weight: 400;
}
.inputBox input[type=submit] {
  background-color: var(--color-botones-menu);
  color: #fffbf5;
  border: none;
  font-size: 1.1em;
  font-family: anybody;
  max-width: 120px;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
}
.inputBox input[type=submit]:hover {
  background-color: goldenrod;
  color: var(--color-botones-menu);
  transition: 0.2s ease;
  box-shadow: 3px 10px 10px rgba(0, 0, 0, 0.45);
}
.inputBox::placeholder {
  color: gray;
  font-family: anybody;
  font-weight: 400;
}

.info {
  background-color: var(--color-botones-menu);
}
.info h3 {
  color: #fffbf5;
  font-size: 20px;
  font-family: anybody;
  font-weight: 300;
  margin-bottom: 50px;
}
.info .infoBox div {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.info .infoBox div span {
  min-width: 40px;
  height: 40px;
  color: #fffbf5;
  background: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: anybody;
  font-size: 1.5em;
  border-radius: 50%;
  margin-right: 15px;
}
.info .infoBox div p {
  color: #fffbf5;
  font-family: anybody;
  font-weight: 300;
  letter-spacing: 2px;
}
.info .infoBox div a {
  color: #fffbf5;
  font-family: anybody;
  font-weight: 300;
  letter-spacing: 2px;
}
.info .infoBox .sci {
  margin-top: 40px;
  display: flex;
}
.info .infoBox .sci li {
  list-style: none;
  margin-right: 15px;
}
.info .infoBox .sci li a {
  color: #fffbf5;
  font-size: 2em;
  color: #fffbf5;
  opacity: 0.4;
}
.info .infoBox .sci li a:hover {
  opacity: 1;
  font-size: 2.2em;
  transition: 0.1s ease;
}

.map {
  padding: 0;
}
.map iframe {
  width: 100%;
  height: 100%;
}

@media (max-width: 991px) {
  .contact-us {
    padding: 20px;
  }
  .box {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "form" "info" "map";
  }
  .formBox .row50 {
    display: flex;
    gap: 0;
    flex-direction: column;
  }
  .inputBox {
    width: 100%;
  }
  .contact {
    padding: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .map {
    min-height: 300px;
    padding: 0px;
  }
}

/*# sourceMappingURL=style.css.map */
