* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Anybody", sans-serif;
  font-family: "Montserrat", sans-serif;
}
:root {
  --color-principal: #fffbf5;
  --letras-botones-color: #ffecd4;
  --color-botones-menu: #3a3536;
  --color-hover-botones: goldenrod;
}

header nav {
  background-color: var(--color-principal);
  height: 85px;
  width: 100%;
}
header nav ul {
  float: right;
  padding-top: 10px;
  padding-right: 50px;
}
header nav ul li {
  display: inline-block;
  padding: 28px 0;
  margin: 0 20px;
}
header nav ul li a, header nav ul li.active {
  text-decoration: none;
  padding-bottom: 0;
  color: var(--color-botones-menu);
  font-family: anybody;
  font-size: 15px;
  font-weight: 500;
  --clippy: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);
}
header nav ul li a::after, header nav ul li.active::after {
  content: "";
  display: block;
  background-color: var(--color-botones-menu);
  width: 90%;
  margin-top: 2px;
  height: 2px;
  clip-path: var(--clippy);
  transition: clip-path 0.15s ease;
}
header nav ul li a:hover, header nav ul li.active:hover {
  --clippy: polygon(100% 0, 0 0, 0 100%, 100% 100%);
}

.logo {
  height: 75px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.enlace {
  position: absolute;
  padding-left: 50px;
  padding-top: 10px;
}

.checkbtn {
  font-size: 35px;
  color: var(--color-botones-menu);
  float: right;
  line-height: 82px;
  margin-right: 50px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 952px) {
  .enlace {
    padding-left: 25px;
  }
  header nav ul li a.active, nav ul li a {
    font-size: 15px;
  }
}
@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }
  #check:checked ~ ul {
    left: 0;
    z-index: 1;
  }
  header nav ul {
    position: fixed;
    background-color: var(--letras-botones-color);
    width: 100%;
    height: 100vh;
    z-index: 1;
    top: 85px;
    left: -120%;
    text-align: center;
    transition: all 0.5s ease;
  }
  header nav ul li {
    display: block;
    margin: 30px 0;
    line-height: 30px;
  }
  header nav ul li a, header nav ul li.active {
    font-size: 24px;
  }
  header nav ul li a:hover, header nav ul li.active:hover {
    background-color: none;
    color: darkgoldenrod;
  }
  header nav ul li a::after, header nav ul li.active::after {
    display: none;
  }
}
footer {
  position: relative;
  width: 100%;
  background-color: var(--color-botones-menu);
  min-height: 10px;
  margin-top: 50px;
  padding: 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer p {
  font-family: anybody;
  font-weight: 300;
  font-size: 0.8em;
  color: #fffbf5;
  opacity: 0.7;
  margin-top: 15px;
  margin-bottom: 10px;
}
footer .iconos-sociales {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}
footer .iconos-sociales li {
  list-style-type: none;
}
footer .iconos-sociales li a {
  font-size: 1.5em;
  color: #fffbf5;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s ease;
  opacity: 60%;
}
footer .iconos-sociales li a:hover {
  transform: translateY(-10px);
  opacity: 100%;
}
footer .menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}
footer .menu li {
  list-style-type: none;
}
footer .menu li a {
  font-family: anybody;
  font-weight: 400;
  font-size: 1em;
  color: #fffbf5;
  margin: 0 10px;
  display: inline-block;
  opacity: 55%;
  transition: 0.5s ease;
}
footer .menu li a:hover {
  opacity: 100%;
  transition: 0.3s ease;
}

body {
  background-color: var(--color-principal);
}

h1 {
  text-align: center;
  font-size: 60px;
  font-family: anybody;
  font-weight: 500;
  margin-top: 180px;
}

.subtitulo h2 {
  text-align: center;
  font-size: 20px;
  font-family: anybody;
  font-weight: 300;
  margin-top: 25px;
  margin-bottom: 75px;
}

.nordico {
  background-image: url(../img/Nordico\ 1\ final.png);
  background-color: var(--color-principal);
  height: 500px;
  margin-top: 105px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.boton-principal {
  background-color: var(--color-botones-menu);
  height: 65px;
  width: 295px;
  margin: auto;
  position: relative;
  outline: none;
  cursor: pointer;
}
.boton-principal p {
  color: var(--letras-botones-color);
  font-family: anybody;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  padding-top: 23.5px;
}
.boton-principal p:hover {
  color: var(--color-botones-menu);
  transition: 0.3s ease;
}
.boton-principal:hover {
  background-color: var(--color-hover-botones);
  transition: 0.3s ease;
}

.cotizacion {
  text-decoration: none;
}

.galeria-inicio {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(3, 380px);
  grid-template-rows: 380px;
  justify-content: center;
  gap: 50px;
  margin-bottom: 30px;
}
.galeria-inicio img {
  max-width: 380px;
}

.botones-galeria {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  gap: 40px;
}
.botones-galeria li {
  height: 30px;
  width: 150px;
  text-align: center;
  outline: none;
  cursor: pointer;
  padding-top: 1%;
  background-color: var(--color-botones-menu);
  margin-bottom: 180px;
  list-style-type: none;
}
.botones-galeria li:hover {
  background-color: var(--color-hover-botones);
  transition: 0.3s ease;
}
.botones-galeria a {
  text-decoration: none;
  font-family: anybody;
  font-weight: 600;
  color: var(--letras-botones-color);
}
.botones-galeria a:hover {
  color: var(--color-botones-menu);
  transition: 0.3s ease;
}

.container {
  margin-top: 180px;
  height: 900px;
}

.row {
  height: 200px;
}

.row1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
}

a {
  text-decoration: none;
}

.tienda-galeria {
  display: flex;
  margin: auto;
}
.tienda-galeria h1 {
  text-align: center;
  font-family: anybody;
  font-size: 30px;
  font-weight: 500;
}

.contenido {
  width: 20%;
  margin: 15px;
  box-sizing: border-box;
  float: left;
  text-align: center;
  cursor: pointer;
  padding-top: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: 0.4s ease;
  background-color: var(--color-principal);
  border-radius: 0%;
}
.contenido:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: translate(0px, -8px);
}

.galeria {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  margin: 50px 0;
}
.galeria h3 {
  text-align: center;
  font-family: anybody;
  font-size: 30px;
  font-weight: 500;
  margin: 0;
  padding-top: 15px;
}
.galeria h6 {
  font-family: anybody;
  font-weight: 500;
  font-size: 26px;
  text-align: center;
  color: var(--color-botones-menu);
  margin: 0;
}
.galeria p {
  font-family: anybody;
  font-weight: 400;
  text-align: center;
  color: var(--color-botones-menu);
  padding-top: 10px;
  padding-bottom: 20px;
}
.galeria img {
  height: 200px;
  width: 200px;
  text-align: center;
  margin: 0 auto;
  display: block;
}
.galeria ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0;
}
.galeria li {
  padding-top: 5px;
}
.galeria button {
  text-align: center;
  font-size: 20px;
  color: var(--letras-botones-color);
  background-color: var(--color-botones-menu);
  width: 100%;
  padding: 15px;
  border: 0;
  outline: none;
  cursor: pointer;
  margin-top: 25px;
}

@media (max-width: 1000px) {
  .contenido {
    width: 45%;
  }
}
@media (max-width: 750px) {
  .contenido {
    width: 100%;
  }
}
.container {
  margin: 1rem auto;
  z-index: 3;
}

.gallery {
  display: grid;
  max-width: 100%;
  margin-bottom: 0 auto;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(150px, auto);
}

.container {
  margin: 1rem auto;
  z-index: 3;
}

.gallery-item {
  max-width: 100%;
  border-radius: 5px;
  display: block;
  position: relative;
  cursor: pointer;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  transition: all 0.3s;
}
.gallery-item:hover {
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.8);
  transform: scale(1.1);
}
.gallery-item img {
  width: 100%;
  object-fit: cover;
}
.gallery-item .flex-center {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}
.gallery-item .flex-center:hover {
  opacity: 1;
  transition: opacity 0.6s ease;
}

.white-text {
  color: var(--letras-botones-color);
  font-family: anybody;
  font-size: 25px;
  text-align: center;
}

.footer-galeria {
  position: relative;
  width: 100%;
  background-color: var(--color-botones-menu);
  min-height: 10px;
  margin-top: 400px;
  padding: 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer-galeria p {
  font-family: anybody;
  font-weight: 300;
  font-size: 0.8em;
  color: #fffbf5;
  opacity: 0.7;
  margin-top: 15px;
  margin-bottom: 10px;
}
.footer-galeria .iconos-sociales-galeria {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}
.footer-galeria .iconos-sociales-galeria li {
  list-style-type: none;
}
.footer-galeria .iconos-sociales-galeria li a {
  font-size: 1.5em;
  color: #fffbf5;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s ease;
  opacity: 60%;
}
.footer-galeria .iconos-sociales-galeria li a:hover {
  transform: translateY(-10px);
  opacity: 100%;
}
.footer-galeria .menu-footer-galeria {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}
.footer-galeria .menu-footer-galeria li {
  list-style-type: none;
}
.footer-galeria .menu-footer-galeria li a {
  font-family: anybody;
  font-weight: 400;
  font-size: 1em;
  color: #fffbf5;
  margin: 0 10px;
  display: inline-block;
  opacity: 55%;
  transition: 0.5s ease;
}
.footer-galeria .menu-footer-galeria li a:hover {
  opacity: 100%;
  transition: 0.3s ease;
}

@media (max-width: 1400px) {
  .footer-galeria {
    margin-top: 900px;
  }
}
@media (max-width: 1199px) {
  .footer-galeria {
    margin-top: 180%;
  }
}
@media (max-width: 990px) {
  .footer-galeria {
    margin-top: 120%;
  }
}
@media (max-width: 770px) {
  .footer-galeria {
    margin-top: 900%;
  }
  .footer-galeria .iconos-sociales-galeria li a {
    font-size: 1.2em;
    margin: 0 10px;
  }
  .footer-galeria .iconos-sociales-galeria li a:hover {
    transform: translateY(-6px);
  }
}

/*# sourceMappingURL=style.css.map */
