footer{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    background-color: var(--color-botones-menu);
    margin-bottom: 0%;    

    img{
        align-items: center;
        max-height: 35px;
    }
    }
