.container {
    margin: 1rem auto;
    z-index: 3;
  }
  
  .gallery {
    display: grid;
    max-width: 100%;
    margin-bottom: 0 auto;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(150px, auto);

  }
  .container {
    margin: 1rem auto;
    z-index: 3;
  }
  
  
  .gallery-item {
    max-width: 100%;
    border-radius: 5px;
    display: block;
    position: relative;
    cursor: pointer;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
    transition: all .3s;
    &:hover {
      box-shadow: 0 15px 20px rgba(0,0,0,0.8);
      transform:scale(1.1) ;
    }
    img {
      width: 100%;
      object-fit: cover;
    }

    .flex-center{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        &:hover{
            opacity: 1;
            transition: opacity .6s ease;
        }
    }
  }

    .white-text{
        color: var(--letras-botones-color);
        font-family: anybody;
        font-size: 25px;
        text-align: center;
        
    }

   

  
  .footer-galeria{
    display:grid;
    align-items: center;
    justify-content: center;
    height: 60px;
    background-color: var(--color-botones-menu);
    grid-template-rows: 150px, auto;
    margin-top: 20%;
        img{
            align-items: center;
            max-height: 35px;
        }
  }


    @media (max-width: 1400px){
    .footer-galeria{
        margin-top: 50%;
      }
    }

    @media (max-width: 1250px){
        .footer-galeria{
            margin-top: 150%;
          }
        }   

     @media (max-width: 990px){
            .footer-galeria{
                margin-top: 120%;
              }
            }
    
     @media (max-width: 770px){
            .footer-galeria{
                margin-top: 300%;
              }
            }
