$color-principal: #fffbf5;
$letras-botones-color: ffecd4;
$color-botones-menu: 3a3536;
$color-hover-botones: goldenrod;


.container {
    margin: 1rem auto;
    z-index: 3;
  }
  
  .gallery {
    display: grid;
    max-width: 100%;
    margin-bottom: 0 auto;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(150px, auto);

  }
  .container {
    margin: 1rem auto;
    z-index: 3;
  }
  
  
  .gallery-item {
    max-width: 100%;
    border-radius: 5px;
    display: block;
    position: relative;
    cursor: pointer;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
    transition: all .3s;
    &:hover {
      box-shadow: 0 15px 20px rgba(0,0,0,0.8);
      transform:scale(1.1) ;
    }
    img {
      width: 100%;
      object-fit: cover;
    }

    .flex-center{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        &:hover{
            opacity: 1;
            transition: opacity .6s ease;
        }
    }
  }

    .white-text{
        color: var(--letras-botones-color);
        font-family: anybody;
        font-size: 25px;
        text-align: center;
        
    }

   


    
            
            footer{
                position: relative;
                width: 100%;
                background-color: var(--color-botones-menu);
                min-height: 10px;
                margin-top: 400px;
                padding: 20px 0px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
    
                p{
                    font-family: anybody;
                    font-weight: 300;
                    font-size: .8em;
                    color: $color-principal;
                    opacity: .7;
                    margin-top: 15px;
                    margin-bottom: 10px;
                }
                    
                .iconos-sociales-galeria{
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 10px 0;
                    flex-wrap: wrap;
    
                    li{
                        list-style-type: none;
    
                        a{
                            font-size: 1.5em;
                            color: $color-principal;
                            margin: 0 10px;
                            display: inline-block;
                            transition: 0.5s ease;
                            opacity: 60%;
    
                            &:hover{
                                transform: translateY(-10px);
                                opacity: 100%;
                            }
                        }
                    }
                }
                .menu-footer-galeria{
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 10px 0;
                    flex-wrap: wrap;
                    li{
                        list-style-type: none;
    
                        a{
                            font-family: anybody;
                            font-weight: 400;
                            font-size: 1em;
                            color: $color-principal;
                            margin: 0 10px;
                            display: inline-block;
                            opacity: 55%;
                            transition: 0.5s ease;
    
                            &:hover{
                                opacity: 100%;
                                transition: 0.3s ease;
                            }
    
                        }
                    }
                }
            }
  



    @media (max-width: 1400px){
    .footer-galeria{
        margin-top: 900px;
      }
    }

    @media (max-width: 1199px){
        .footer-galeria{
            margin-top: 180%;
          }
        }   

     @media (max-width: 990px){
            .footer-galeria{
                margin-top: 120%;
              }
            }
    
     @media (max-width: 770px){
            .footer-galeria{
                margin-top: 900%;
                
                .iconos-sociales-galeria{
                  li{
                    a{
                      font-size: 1.2em;
                      margin: 0 10px;
                      
                      &:hover{
                        transform: translateY(-6px);
                    }
                    }
                  }
                }
              }
            }
